body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}
h1 {
  font-size: 5vw;
}
h3 {
  font-size: 3vw;
}
p {
  padding: 5px;
  font-size: 1.5vw;
}
.text-color {
  color: orange;
}

section {
  display: flex;
  margin-bottom: 80px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 100%;
}
.link-button {
  text-decoration: none;
  background-color: orange;
  padding: 10px 20px;
  border-radius: 5px;
  background-image: linear-gradient(orange, tomato, red);
  color: white;
  font-weight: 500;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.second-section {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
